@model ConfessionBoard.Models.Confession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Confession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientLN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientLN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientFN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientFN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftFK)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
